# Default values for numaflow.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

numaflow:
  image:
    # -- Image of numaflow server.
    repository: quay.io/numaproj/numaflow
    # -- Tag of numaflow server.
    tag: v1.7.0
    # -- Image Pull policy of numaflow server.
    pullPolicy: Always

configs:
  # -- Whether to run the controller and the UX server in namespaced scope, defaults to false.
  namespacedScope: false
  # -- The namespace that the controller and the UX server watch when "namespaced" is true.
  managedNamespace: numaflow-system
  webhook:
    # -- numaflow server validating webhook default to true, deploy only when namespacedScope is false
    enabled: true

server:
  # -- The number of numaflow-server replicas to run.
  replicaCount: 1
  resources:
    limits:
      # -- The CPU limits for numaflow-server.
      cpu: 500m
      # -- The memory limits for numaflow-server.
      memory: 1024Mi
    requests:
      # -- The CPU requests for numaflow-server.
      cpu: 100m
      # -- The memory requests for numaflow-server.
      memory: 200Mi
  configs:
    # -- Whether to disable TLS for UX server.
    insecure: false
    # -- insecurePort to listen for UX server if insecure is set true, default to 8080.
    insecurePort: 8080
    # -- Port to listen on for UX server, defaults to 8443.
    port: 8443
    # -- Base href for Numaflow UX server, defaults to '/'.
    baseHref: /
    # -- Whether to enable read only view for the UX server, defaults to false.
    readOnly: "false"
    # -- Whether to disable authentication and authorization for the UX server, defaults to true.
    authDisable: "true"
    # -- The address of the Dex server for authentication.
    dexServer: http://numaflow-dex-server:5556/dex
    # -- The external address of the Numaflow server. This is needed when using Dex for authentication.
    host: localhost
    # -- The list of allowed origins for CORS on Numaflow server, separated by a comma, defaults to ''. For example: server.cors.allowed.origins: "http://localhost:3000,http://localhost:3001"
    cors:
      allowedOrigin: ""
    daemon:
      client:
        # -- The protocol used by the daemon client to communicate with the daemon server, defaults to grpc.
        protocol: grpc
  service:
    # -- The type of service for the numaflow server.
    type: ClusterIP

dexServer:
  image:
    # -- Image of dex server for authentication.
    repository: dexidp/dex
    # -- Tag of dex server for authentication.
    tag: v2.37.0
    # -- Image Pull policy of dex server for authentication.
    pullPolicy: Always
  # The number of dex-server replicas to run.
  replicaCount: 1
  secret:
    data:
      # -- GitHub client ID for authentication.
      GITHUB_CLIENT_ID: ""
      # -- GitHub client secret for authentication.
      GITHUB_CLIENT_SECRET: ""

controller:
  # -- The number of controller replicas to run.
  replicaCount: 1
  configs:
    # -- Whether to disable leader election for the controller, defaults to false
    leaderElection:
      disabled: false
      leaseDuration: 15s
      renewDuration: 10s
      renewPeriod: 2s

  resources:
    limits:
      # -- The CPU limits for controller.
      cpu: 500m
      # -- The memory limits for controller.
      memory: 1024Mi
    requests:
      # -- The CPU requests for controller.
      cpu: 100m
      # -- The memory requests for controller.
      memory: 200Mi
