apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    app.kubernetes.io/component: dex-server
    app.kubernetes.io/name: numaflow-dex-server
    app.kubernetes.io/part-of: numaflow
  name: {{ .Values.dexServer.name }}
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
  name: numaflow-aggregate-to-admin
rules:
  - apiGroups:
      - numaflow.numaproj.io
    resources:
      - interstepbufferservices
      - interstepbufferservices/finalizer
      - interstepbufferservices/status
      - pipelines
      - pipelines/finalizers
      - pipelines/status
      - vertices
      - vertices/finalizers
      - vertices/status
      - vertices/scale
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
  name: numaflow-aggregate-to-edit
rules:
  - apiGroups:
      - numaflow.numaproj.io
    resources:
      - interstepbufferservices
      - interstepbufferservices/finalizers
      - interstepbufferservices/status
      - pipelines
      - pipelines/finalizers
      - pipelines/status
      - vertices
      - vertices/finalizers
      - vertices/status
      - vertices/scale
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    rbac.authorization.k8s.io/aggregate-to-view: "true"
  name: numaflow-aggregate-to-view
rules:
  - apiGroups:
      - numaflow.numaproj.io
    resources:
      - interstepbufferservices
      - interstepbufferservices/finalizers
      - interstepbufferservices/status
      - pipelines
      - pipelines/finalizers
      - pipelines/status
      - vertices
      - vertices/finalizers
      - vertices/status
      - vertices/scale
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller-manager
    app.kubernetes.io/name: numaflow-controller-manager
    app.kubernetes.io/part-of: numaflow
  name: numaflow-role
rules:
  - apiGroups:
      - numaflow.numaproj.io
    resources:
      - interstepbufferservices
      - interstepbufferservices/finalizers
      - interstepbufferservices/status
      - pipelines
      - pipelines/finalizers
      - pipelines/status
      - vertices
      - vertices/finalizers
      - vertices/status
      - vertices/scale
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/exec
      - configmaps
      - services
      - persistentvolumeclaims
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - delete
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "numaflow.labels" . | nindent 4 }}
    app.kubernetes.io/component: ux-server
    app.kubernetes.io/name: numaflow-server
    app.kubernetes.io/part-of: numaflow
  name: {{ .Values.server.name }}-role
rules:
  - apiGroups:
      - numaflow.numaproj.io
    resources:
      - interstepbufferservices
      - interstepbufferservices/finalizers
      - interstepbufferservices/status
      - pipelines
      - pipelines/finalizers
      - pipelines/status
      - vertices
      - vertices/finalizers
      - vertices/status
      - vertices/scale
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
      - pods
      - pods/log
      - pods/exec
      - configmaps
      - services
      - persistentvolumeclaims
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - metrics.k8s.io
    resources:
      - pods
    verbs:
      - get
      - list
      - watch