name: CI

on:
  pull_request:
    paths-ignore:
      - '**/README.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: "Step 1: Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: "Step 2: Set up Helm"
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - name: "Step 3: Setup python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          check-latest: true

      - name: "Step 4: Set up chart-testing"
        uses: helm/chart-testing-action@v2.6.1

      - name: "Step 5: Run chart-testing (list-changed)"
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: "Step 6: Run lint"
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --target-branch ${{ github.event.repository.default_branch }}

      - name: "Step 7: Create kind cluster"
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@v1.10.0

      - name: "Step 7: Run chart install"
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --target-branch ${{ github.event.repository.default_branch }}

  release:
    if: github.ref == 'refs/heads/main'
    needs:
      - lint-test
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: "Step 1: Checkout"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: "Step 2: Install Helm"
        uses: azure/setup-helm@v4

      - name: "Step 3: Run chart-releaser"
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: charts
          skip_existing: true
          pages_branch: gh-pages
        env:
          CR_TOKEN: "${{ secrets.ACCESS_TOKEN }}"